* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(90deg, #f46b45, #eea849);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10px;
}

#root {
  width: 100%;
}

.complete {
  text-decoration: line-through;
  opacity: 0.3;
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 500px;
  min-height: 400px;
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 25px auto;
  padding: 25px 0;
}

.todo-form {
  margin-bottom: 25px;
}

.todo-form input,
button {
  font-size: 1rem;
  border-radius: 10px;
}

.todo-form input {
  background-color: #fafafa;
  color: #203a43;
  border: 2px solid #f46b45;
  outline: none;
  width: 270px;
  padding: 7px 16px;
}

.btn-add {
  cursor: pointer;
  padding: 9px 16px;
  margin-left: 5px;
  background-color: #f46b45;
  color: #fafafa;
  border: none;
}

.todo-list {
  width: 100%;
}

.todo-item {
  font-size: 1.1rem;
  background-color: #eea849;
  width: 90%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  margin: 10px auto;
}

.icons {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 8px;
  color: #fafafa;
}

/* media */
@media (max-width: 500px) {
  .todo-app {
    width: 100%;
    padding: 25px 6px;
  }
}
